.carrousel-container {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    padding: 2rem;

    & .carrousel {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        gap: 1.5rem;

        & img {
            width: 17.875rem;
            height: 17.875rem;
            object-fit: cover;
            transition: 200ms ease-in-out;

            &:hover {
                transform: scale(1.02);
                border-radius: 50%;
            }
        }
    }
}

@media (max-width: 768px) {
    .carrousel {
        width: 100%;
    }
    .carrousel img {
        width: 100%;
        max-width: none; 
    }
}
