.profile-container {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    padding: 2rem;

    display: flex;

    & .p-left {
        width: 50%;

        display: flex;
        align-items: center;
        gap: 2rem;

        & span {
            color: var(--text-primary);
            font: var(--heading);
        }

        & p {
            color: var(--text-secondary);
            font: var(--text-md);
        }
    }

    & .p-right {
        margin-left: auto;

        display: flex;
        align-items: center;

        & .profile-stats {
            display: flex;
            flex-direction: column;
            justify-content: center;

            gap: 1rem;

            & li {
                display: flex;
                align-items: center;
                gap: .5rem;

                & span {
                    color: var(--text-secondary);
                    font: var(--text-md);
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;

        & .p-left {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            margin-bottom: 2rem;
        }

        & .p-right {
            margin-left: 0;
        }
    }
}